<span>Total {{total}}</span>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Product Type</th>
    <th scope="col">Perishable</th>
    <th scope="col">Price</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.productType.name}}</td>
    <td>{{product.productType.perishable | boolean}}</td>
    <td>{{product.price}}</td>
    <td>
      <button (click)="addToOrder(product)">Add To Order</button>
      <button (click)="removeFromOrder(product)">Remove From Order</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="deliveryTypesDropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{selectedDeliveryType ? selectedDeliveryType.name : 'Delivery Types' }}
  </button>
  <div class="dropdown-menu" aria-labelledby="productsNavDropdown">
    <a *ngFor="let deliveryType of deliveryTypes" class="nav-link text-dark"
       (click)="onSelectDeliveryType(deliveryType)">{{deliveryType.name}}</a>
  </div>
</div>

<label for="delivery-date-input" class="col-2 col-form-label">Delivery Date</label>
<input placeholder="dd-MM-yyyy" class=form-control type="date" name="delivery-date-input"
       [(ngModel)]="order.deliveryDate" id="delivery-date-input">

<button type="button" class="btn btn-primary" (click)="onCreateOrder()">Create Order</button>
