<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Total</th>
    <th scope="col">Delivery Type</th>
    <th scope="col">Delivery Date</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td>{{order.total}}</td>
    <td>{{order.deliveryType.name}}</td>
    <td>{{order.deliveryDate | date}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="deleteOrder(order)">Delete Order</button>
    </td>
  </tr>
  </tbody>
</table>
